<div class="page-header">
  <h1><%=t '.title', :default => 'Search Results' %> (<%= @articles.results.total %>)</h1>
</div>
<% @articles.each do |article| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
                controller: "articles",
                action: "show",
                id: article.id
            %>
        </h4>
      </div> 
      <div class="panel-body">
       		<label><%= t(".author") %>: </label> <%=article.author%><br>
            <label><%= t(".date") %>: </label> 
             <% date = DateTime.parse(article.created_at) %>
             <b><%= I18n.localize date, format: :long %></b><br>
            <% unless article.highlight.text.nil? %>
              <% article.highlight.text.each do |snippet| %>
                <%= snippet.html_safe %>...                
              <% end %>
            <% else %>
            	<%= truncate(article.text, :length => 275, :separator => ' ', :omission => '...') %>
            <% end %>
      </div>
    </div>
<% end %> 
<br>
<div class="row">
   <div class="col-md-4 col-md-offset-8">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
   </div>
</div>