<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">  
  <tbody>
    <% @articles.each do |article| %>
      <tr> 
        <td>
        <h3><%= article.title %></h3>
        <p><label><%= t(".author") %>:</label><%= article.author %></p>
        <p><b><%= I18n.localize article.created_at, format: :long %></b></p>
        <p><%= truncate(article.text, :length => 275, :separator => ' ', :omission => '...')%></p>
       <div class="row">
          <div class="col-md-3 col-md-offset-11">
            <%= link_to t('.show', :default => t("helpers.links.see more")),
            article_path(article),
            :class => 'btn btn-primary btn-xs' %>
          </div>
       </div>
       </td>
      </tr> 
    <% end %>
  </tbody>
</table>
<div class="row">
   <div class="col-md-4 col-md-offset-8">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
   </div>
</div>