<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => @article.title  %></h1>
</div>

<table class="table table-striped">  
  <tbody>
      <tr> 
        <td>        
        <p><label><%= t(".author") %>:</label><%= @article.author %></p>
        <p><b><%= I18n.localize @article.created_at, format: :long %></b></p>
        <p><%= @article.text %></p>       
       </td>
      </tr>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
