<div>
<h3><%= @alert.name %></h3>
<h3>Notícias de acordo com o seu alerta:</h3>
</div>

<% @articles.each do |article| %>
	
		</div><h2><%=link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
	    controller: "articles",
	    action: "show",
	    id: article.id %></h2></div>
	    <div>
	    <% date = DateTime.parse(article.created_at) %>
             <p><b><%= I18n.localize date, format: :long %></b></p><br>
            <% unless article.highlight.text.nil? %>
              <% article.highlight.text.each do |snippet| %>
                <p><%= snippet.html_safe %>...</p>                
              <% end %>
            <% else %>
            	<p><%= truncate(article.text, :length => 275, :separator => ' ', :omission => '...') %></p>
            <% end %>
	    </div>
	
<% end %>


