<%= @alert.name %>
Notícias de acordo com o seu alerta:

<% @articles.each do |article| %>
		<%=link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
	    controller: "articles",
	    action: "show",
	    id: article.id %>
	    
	   <% date = DateTime.parse(article.created_at) %>
             <b><%= I18n.localize date, format: :long %></b><br>
            <% unless article.highlight.text.nil? %>
              <% article.highlight.text.each do |snippet| %>
                <%= snippet.html_safe %>...                
              <% end %>
            <% else %>
            	<%= truncate(article.text, :length => 275, :separator => ' ', :omission => '...') %>
            <% end %>
<% end %>

