<%= form_for @alert, :html => { :class => "form-horizontal alert" } do |f| %>

  <% if @alert.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@alert.errors.count, t(".error")) %> <%= t(".prohibited this alert from being saved") %>:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @alert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :keyword, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :keyword, :class => 'form-control' %>
    </div>
    <%=f.error_span(:keyword) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                alerts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
