<%- model_class = Alert -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @alert.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @alert.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:keyword) %>:</strong></dt>
  <dd><%= @alert.keyword %></dd>
</dl>
