<!DOCTYPE html>
<html>
<head>
  <title><%= t(".klipbox news") %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= nav_bar brand: t("helpers.brand.news klipbox"), brand_link: articles_path, fixed: :top, responsive: true do%>
		<%= menu_group do %>
	        <%= menu_item t('.new', :default => t("helpers.links.new")), new_article_path %>
	        <%= menu_item t('.alert', :default => t("helpers.links.alert")), new_alert_path %>
	        <%=form_tag search_path,{:method=>'get', class:"navbar-form navbar-left", role:"search"}  do%>
     		<div class="form-group">
        		<%=text_field_tag :q, params[:q], class:"form-control", :placeholder => t("helpers.placeholder.search")%>
     		</div>
    			<%=submit_tag t("helpers.placeholder.search") ,class:"btn btn-default "%>
			 <%end%>
    	<% end %>		
	<% end %>
	
	<div class="container">
			<%= yield %>
	</div>
</body>
</html>
